html,
body {
    margin: 0px;
    padding: 0px;
  
    margin: 0px auto;
	background-color: rgba(42, 42, 42, 1);
    
}

h1 {
    margin: 0 auto;
    text-align: center;
}
:root{
	color: aliceblue;
}
